.category-card mat-subheader {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.category-item {
  padding: 4rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.category-item div[mat-line] {
  font-size: 1em;
  word-wrap: break-word;
  white-space: normal;
}

.category-item:hover {
  background-color: #5a59593e;
}

.category-item div[mat-line] {
  font-size: 1em;
}

.category-item .text-muted {
  font-size: 0.875rem;
  color: #888;
}

.mat-list-icon {
  vertical-align: middle;
}
