<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="globalCard">
        <mat-card-header>
          <div class="header-content">
            <mat-card-title> Bienvenido Administrador </mat-card-title>
            <mat-card-subtitle> Panel del Administrador </mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="ml30">
          <br />

          <h3>Sus funciones:</h3>

          <ul>
            <li>Gestionar las categorías</li>
            <li>Gestionar los exámenes</li>
            <li>Asignar exámenes a distintas categorías</li>
            <li>Gestionar las preguntas</li>
            <li>Asignar preguntas a cada examen</li>
          </ul>

          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
