<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="globalCard">
        <div class="text-center mt-1">
          <h1>Lea las intrucciones cuidadosamente</h1>
        </div>

        <mat-card-subtitle class="text-center">
          Un paso más para ir
        </mat-card-subtitle>

        <mat-card-content class="ml-2">
          <h3># {{ examen.titulo }}</h3>
          <p>- {{ examen.descripcion }}</p>
          <mat-divider></mat-divider>

          <h3 class="mt-1"># Instrucciones importantes</h3>

          <ul>
            <li>Este cuestionario es solo para fines de practica</li>
            <li>
              Tienes que enviar el cuestionario en
              <b>{{ examen.numPreguntas * 2 }} minutos</b>
            </li>
            <li>Puede intentar el cuestionario cualquier cantidad de veces</li>
            <li>
              Hay
              <b
                >{{
                  examen.puntosMax / examen.numPreguntas | number : "1.2-2"
                }}
                puntos por pregunta</b
              >
            </li>
          </ul>

          <mat-divider></mat-divider>

          <h3 class="mt-1"># Intentos de la prueba</h3>

          <ul>
            <li>Presione el boton <b>Empezar</b> para iniciar el examen</li>
            <li>
              El tiempo comenzará en el momento en que haga click en el botón de
              inicio
            </li>
            <li>
              No puede reanudar este cuestionario si se interrumpe por algún
              motivo
            </li>
            <li>Desplácese hacia abajo para pasar a la siguiente pregunta</li>
            <li>
              Haga click en el botón enviar cuestionario al finalizar el
              cuestionario
            </li>
            <li>
              El informe de la prueba se genera automáticamente en forma de
              copia PDF
            </li>
          </ul>
        </mat-card-content>

        <div class="container text-center mb-1">
          <button mat-raised-button color="primary" (click)="empezarExamen()">
            Comenzar prueba
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
