<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>`BIENVENIDO A DRIVEN TEST`</h1>
        <p>
          Tu portal de exámenes de confianza que contiene una interfaz sencilla
          y amigable. Aquí podrás acceder a una amplia variedad de exámenes de
          manera eficiente y precisa. ¡Haz clic en el botón de inicio para
          comenzar tu viaje de aprendizaje!
        </p>
        <button [routerLink]="'/login'" mat-raised-button color="primary">
          Inicio
        </button>
      </div>
    </div>
  </div>
</div>
